.login-header {
    background-color: rgba(12, 112, 227, 0.35);
}

.blog-icons > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.tag {
    background-color: #41c236;
}